<h1>AUTHOR</h1>

{{#if haveAuthor}}
    <p>Name: {{author.name}} </p>
    <p>Email: {{author.email}} </p>
    <p>Created: {{author.createdAt}}</p>
    <p>Updated: {{author.updatedAt}}</p>
{{else}}
    <div>Nothing Found</div>
{{/if}}